<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="currentaccounttypecode" value="133" />
    <add key="portnumber" value="6002" />
    <add key="atmdb" value="Data Source = xe; User id = atmDB; Password =atmdb" />
    <add key="ababildb" value="Data Source = xe; User id = ababil; Password =a" />
    <add key="errorlogtype" value="xml" />
  </appSettings>     
</configuration>