<?xml version="1.0" encoding="utf-8" ?>
<CashConfig>
	<Fields>
		<Field id="0" name="Message Type" format="" type="n" size="4" value="" remarks="" sub="0">
		</Field>
		<Field id="1" name="BIT MAP" format="" type="h" size="1" value="" remarks="Mandatory" sub="0">
		</Field>		
		<Field id="7" name="Transmission Date and Time" format="MMDDhhmmss" type="n" size="10" value="" remarks="Mandatory" sub="0">
		</Field>
		<Field id="11" name="System Trace Audit Number" format="" type="n" size="6" value="" remarks="Mandatory" sub="0">
		</Field>		
		<Field id="70" name="Network Management Info. Code" format="" type="n" size="3" value="" remarks="Mandatory" sub="0">
		</Field>		
	</Fields>
</CashConfig>