<?xml version="1.0" encoding="utf-8" ?>
<CashConfig>
	<Fields>
		<Field id="0" name="Message Type" format="" type="n" size="4" value="" remarks="" sub="0"></Field>
		<Field id="1" name="BIT MAP" format="" type="h" size="16" value="" remarks="Mandatory"
			sub="0"></Field>
		<Field id="2" name="Primary,Account Number" format="LLVAR" type="n" size="19" value=""
			remarks="Mandatory" sub="0"></Field>
		<Field id="3" name="Processing Code" format="" type="n" size="6" value="" remarks="Mandatory"
			sub="0"></Field>
		<Field id="4" name="Amount Transaction" format="" type="n" size="14" value="" remarks="Mandatory"
			sub="0"></Field>
		<Field id="5" name="Amount Settelement" format="" type="n" size="12" value="" remarks=""
			sub="0"></Field>
		<Field id="6" name="" format="" type="" size="12" value="" remarks="" sub="0"></Field>
		<Field id="7" name="" format="MMDDhhmmss" type="" size="10" value="" remarks="Mandatory"
			sub="0"></Field>
		<Field id="8" name="" format="" type="" size="8" value="" remarks="" sub="0"></Field>
		<Field id="9" name="" format="" type="" size="8" value="" remarks="" sub="0"></Field>
		<Field id="10" name="" format="" type="" size="8" value="" remarks="" sub="0"></Field>
		<Field id="11" name="" format="" type="n" size="6" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="12" name="" format="" type="" size="6" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="13" name="" format="MMDD" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="14" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="15" name="" format="MMDD" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="16" name="" format="MMDD" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="17" name="" format="MMDD" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="18" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="19" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="20" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="21" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="22" name="adat" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="23" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="24" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="25" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="26" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="27" name="" format="" type="" size="4" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="28" name="" format="" type="" size="8" value="" remarks="" sub="0"></Field>
		<Field id="29" name="" format="" type="" size="8" value="" remarks="" sub="0"></Field>
		<Field id="30" name="" format="" type="" size="8" value="" remarks="" sub="0"></Field>
		<Field id="31" name="" format="" type="" size="8" value="" remarks="" sub="0"></Field>
		<Field id="32" name="" format="LLVAR" type="" size="11" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="33" name="" format="LLVAR" type="" size="11" value="" remarks="" sub="0"></Field>
		<Field id="34" name="" format="" type="" size="11" value="" remarks="" sub="0"></Field>
		<Field id="35" name="" format="" type="" size="11" value="" remarks="" sub="0"></Field>
		<Field id="36" name="" format="" type="" size="11" value="" remarks="" sub="0"></Field>
		<Field id="37" name="" format="" type="" size="11" value="" remarks="" sub="0"></Field>
		<Field id="38" name="" format="" type="" size="11" value="" remarks="" sub="0"></Field>
		<Field id="39" name="" format="" type="an" size="2" value="00" remarks="" sub="0"></Field>
		<Field id="40" name="" format="" type="" size="11" value="" remarks="" sub="0"></Field>
		<Field id="41" name="" format="" type="" size="8" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="42" name="" format="" type="" size="15" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="49" name="" format="" type="n" size="3" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="50" name="" format="" type="n" size="3" value="" remarks="" sub="0"></Field>
		<Field id="51" name="" format="" type="n" size="3" value="" remarks="" sub="0"></Field>
		<Field id="54" name="" format="LLLVAR" type="an" size="120" value="" remarks="" sub="15"></Field>
		<Field id="54-1a" name="" format="" type="n" size="2" value="" remarks="" sub="-1"></Field>
		<Field id="54-2a" name="" format="" type="n" size="2" value="" remarks="" sub="-1"></Field>
		<Field id="54-3a" name="" format="" type="n" size="3" value="" remarks="" sub="-1"></Field>
		<Field id="54-4a" name="" format="" type="x" size="1" value="" remarks="" sub="-1"></Field>
		<Field id="54-5a" name="" format="" type="n" size="12" value="" remarks="" sub="-1"></Field>
		<Field id="54-1b" name="" format="" type="n" size="2" value="" remarks="" sub="-1"></Field>
		<Field id="54-2b" name="" format="" type="n" size="2" value="" remarks="" sub="-1"></Field>
		<Field id="54-3b" name="" format="" type="n" size="3" value="" remarks="" sub="-1"></Field>
		<Field id="54-4b" name="" format="" type="x" size="1" value="" remarks="" sub="-1"></Field>
		<Field id="54-5b" name="" format="" type="n" size="12" value="" remarks="" sub="-1"></Field>
		<Field id="54-1c" name="" format="" type="n" size="2" value="" remarks="" sub="-1"></Field>
		<Field id="54-2c" name="" format="" type="n" size="2" value="" remarks="" sub="-1"></Field>
		<Field id="54-3c" name="" format="" type="n" size="3" value="" remarks="" sub="-1"></Field>
		<Field id="54-4c" name="" format="" type="x" size="1" value="" remarks="" sub="-1"></Field>
		<Field id="54-5c" name="" format="" type="n" size="12" value="" remarks="" sub="-1"></Field>
		<Field id="60" name="" format="LLLVAR" type="" size="999" value="" remarks="Mandatory"
			sub="4"></Field>
		<Field id="60-1" name="" format="YYYY" type="n" size="4" value="" remarks="Mandatory" sub="-1"></Field>
		<Field id="60-2" name="" format="YYYY" type="n" size="4" value="" remarks="Mandatory" sub="-1"></Field>
		<Field id="60-3" name="" format="YYYY" type="n" size="4" value="" remarks="Mandatory" sub="-1"></Field>
		<Field id="60-4" name="" format="YYYY" type="n" size="4" value="" remarks="Mandatory" sub="-1"></Field>
		<Field id="70" name="" format="" type="" size="3" value="" remarks="Mandatory" sub="0"></Field>
		<Field id="129" name="dummy" format="" type="" size="3" value="" remarks="Mandatory" sub="0"></Field>
	</Fields>
</CashConfig>