<?xml version="1.0" encoding="utf-8"?>
<CashConfig>
    <Fields>
        <Field id="0" name="Message Type" format="" type="n" size="4" value="" remarks="" sub="0">
        </Field>
        <Field id="1" name="BIT MAP" format="" type="h" size="1" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="2" name="Primary Account Number" format="LLVAR" type="n" size="19" value="" remarks="Optional" sub="0">
        </Field>
        <Field id="3" name="Processing Code" format="" type="n" size="7" value="" remarks="Mandatory" sub="3">
        </Field>
        <Field id="3-1" name="Transaction Code" format="" type="n" size="3" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="3-2" name="Account Type (From)" format="" type="n" size="2" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="3-3" name="Account Type (To)" format="" type="n" size="2" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="4" name="Transaction Amount" format="" type="n" size="12" value="" remarks="" sub="0">
        </Field>
        <Field id="6" name="Cardholder Billing Amount" format="" type="n" size="12" value="" remarks="" sub="0">
        </Field>
        <Field id="7" name="Transmission Date and Time" format="MMDDhhmmss" type="n" size="10" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="11" name="System Trace Audit Number" format="" type="n" size="6" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="12" name="Local Transaction Time" format="HHMMSS" type="n" size="6" value="" remarks="" sub="0">
        </Field>
        <Field id="13" name="Local Transaction Date" format="MMDD" type="n" size="4" value="" remarks="" sub="0">
        </Field>
        <Field id="18" name="SIC" format="" type="n" size="4" value="" remarks="" sub="0">
        </Field>
        <Field id="19" name="Acquiring Institution Country Code" format="" type="n" size="3" value="" remarks="Optional" sub="0">
        </Field>
        <Field id="22" name="POS Entry Mode" format="" type="n" size="3" value="" remarks="" sub="0">
        </Field>
        <Field id="23" name="MBR" format="" type="n" size="3" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="28" name="Fee Amount" format="" type="n" size="8" value="" remarks="" sub="0">
        </Field>
        <Field id="32" name="Acquiring Institution Identification" format="LLVAR" type="n" size="11" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="35" name="Track 2" format="LLVAR" type="s" size="37" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="37" name="Transaction Retrieval Reference Number" format="" type="s" size="12" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="38" name="Authorization Identification Response" format="" type="s" size="6" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="39" name="Response Code" format="" type="n" size="5" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="41" name="Card Acceptor Terminal ID" format="LLVAR" type="s" size="49" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="43" name="Card Acceptor Terminal Name / Location" format="" type="s" size="222" value="" remarks="Mandatory" sub="15">
        </Field>
        <Field id="43-1" name="Terminal owner" format="" type="s" size="30" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-2" name="Terminal city" format="" type="s" size="30" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-3" name="Terminal state" format="" type="n" size="3" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-4" name="Terminal country" format="" type="n" size="3" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-5" name="Terminal address" format="" type="s" size="30" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-6" name="Terminal branch" format="" type="s" size="30" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-7" name="Terminal region" format="" type="s" size="30" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-8" name="Terminal class" format="" type="n" size="3" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="43-9" name="Terminal date" format="" type="n" size="8" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-10" name="Terminal PS name" format="" type="s" size="10" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="43-11" name="Terminal fin name" format="" type="s" size="4" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-12" name="Terminal retailer name" format="" type="s" size="25" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-13" name="Terminal county" format="" type="n" size="3" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-14" name="Terminal zip code" format="" type="n" size="9" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-15" name="Terminal time offset" format="" type="n" size="4" value="" remarks="" sub="-1">
        </Field>
        <Field id="44" name="Result PIN CVV" format="" type="n" size="2" value="" remarks="Mandatory" sub="2">
        </Field>
		<Field id="44-1" name="Result PIN" format="" type="n" size="1" value="" remarks="Mandatory" sub="-1">
		</Field>
		<Field id="44-2" name="Result CVV" format="" type="n" size="1" value="" remarks="Mandatory" sub="-1">
		</Field>
        <Field id="49" name="Transaction Currency Code" format="" type="n" size="3" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="51" name="Cardholder Billing Currency Code" format="" type="n" size="3" value="" remarks="Mandatory" sub="0">
        </Field>
		<Field id="61" name="Card Issuer Data" format="" type="n" size="14" value="" remarks="Mandatory" sub="2">
		</Field>
		<Field id="61-1" name="Issuing Institution" format="" type="n" size="4" value="" remarks="Mandatory" sub="-1">
		</Field>
		<Field id="61-2" name="Issuing Payment System" format="" type="n" size="10" value="" remarks="Mandatory" sub="-1">
		</Field>
        <Field id="102" name="Account Identification 1 (From)" format="LLVAR" type="s" size="99" value="" remarks="" sub="0">
        </Field>
        <Field id="105" name="Balance Data" format="" type="n" size="25" value="" remarks="" sub="3">
        </Field>
        <Field id="105-1" name="Ledger Balance" format="" type="n" size="12" value="" remarks="" sub="-1">
        </Field>
        <Field id="105-2" name="Available Balance" format="" type="n" size="12" value="" remarks="" sub="-1">
        </Field>
        <Field id="105-3" name="Balance Currency Account" format="" type="n" size="1" value="" remarks="" sub="-1">
        </Field>
        <Field id="106" name="Multi Currency Data" format="" type="s" size="46" value="" remarks="" sub="6">
        </Field>
		<Field id="106-1" name="Currency Account To" format="" type="s" size="3" value="" remarks="" sub="-1">
		</Field>
		<Field id="106-2" name="Currency Origin" format="" type="s" size="3" value="" remarks="" sub="-1">
		</Field>
		<Field id="106-3" name="Amount Account To" format="" type="s" size="12" value="" remarks="" sub="-1">
		</Field>
		<Field id="106-4" name="Amount Origin" format="" type="s" size="12" value="" remarks="" sub="-1">
		</Field>
		<Field id="106-5" name="Exchange Rate Account" format="" type="s" size="8" value="" remarks="" sub="-1">
		</Field>
		<Field id="106-6" name="Exchange Rate Account To" format="" type="s" size="8" value="" remarks="" sub="-1">
		</Field>		
        <Field id="114" name="Statement" format="LLLVAR" type="s" size="250" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="121" name="Additional POS Data" format="" type="s" size="47" value="" remarks="Mandatory" sub="6">
        </Field>
        <Field id="121-1" name="POS-transaction Category" format="" type="n" size="2" value="" remarks="" sub="-1">
        </Field>
        <Field id="121-2" name="Draft Capture" format="" type="n" size="1" value="" remarks="" sub="-1">
        </Field>
        <Field id="121-3" name="CVV2" format="" type="n" size="3" value="" remarks="" sub="-1">
        </Field>
        <Field id="121-4" name="Clerk ID" format="" type="s" size="16" value="" remarks="" sub="-1">
        </Field>
        <Field id="121-5" name="Invoice Number" format="" type="s" size="16" value="" remarks="" sub="-1">
        </Field>
        <Field id="121-6" name="POS Batch and Shift Data" format="" type="s" size="9" value="" remarks="" sub="-1">
        </Field>
        <Field id="123" name="Miscellaneous Transaction Attributes" format="LLLVAR" type="s" size="999" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="129" name="dummy" format="" type="" size="3" value="" remarks="Mandatory" sub="0">
        </Field>
    </Fields>
</CashConfig>