<?xml version="1.0" encoding="utf-8"?>
<CashConfig>
    <Fields>
        <Field id="0" name="Message Type" format="" type="n" size="4" value="" remarks="" sub="0">
        </Field>
        <Field id="1" name="BIT MAP" format="" type="h" size="32" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="2" name="Primary Account Number" format="LLVAR" type="n" size="19" value="" remarks="Optional" sub="0">
        </Field>
        <Field id="3" name="Processing Code" format="" type="n" size="6" value="" remarks="Mandatory" sub="3">
        </Field>
        <Field id="3-1" name="Transaction Code" format="" type="n" size="2" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="3-2" name="Account Type (From)" format="" type="n" size="2" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="3-3" name="Account Type (To)" format="" type="n" size="2" value="" remarks="Mandatory" sub="-1">
        </Field>
        <Field id="4" name="Transaction Amount" format="" type="n" size="12" value="" remarks="" sub="0">
        </Field>
        <Field id="5" name="Settlement Amount" format="" type="n" size="12" value="" remarks="Conditional" sub="0">
        </Field>
        <Field id="7" name="Transmission Date and Time" format="MMDDhhmmss" type="n" size="10" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="9" name="Settlement Conversion Rate" format="" type="n" size="8" value="" remarks="Conditional" sub="0">
        </Field>
        <Field id="11" name="System Trace Audit Number" format="" type="n" size="6" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="12" name="Local Transaction Time" format="HHMMSS" type="n" size="6" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="13" name="Local Transaction Date" format="MMDD" type="n" size="4" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="14" name="Expiration Date" format="YYMM" type="n" size="4" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="15" name="Settlement Date" format="YYMM" type="n" size="4" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="17" name="Capture Date" format="YYMM" type="n" size="4" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="22" name="Point of Service Entry Mode" format="" type="n" size="3" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="25" name="Point of service Condition Mode" format="" type="n" size="2" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="26" name="Point of service PIN Cap Mode" format="" type="n" size="2" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="32" name="Acquiring Institution Identification" format="LLVAR" type="n" size="11" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="33" name="Forwarding Inst ID" format="" type="n" size="2" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="35" name="Track2data" format="LLVAR" type="n" size="2" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="37" name="Transaction Retrieval Reference Number" format="" type="s" size="12" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="38" name="Approver No" format="" type="s" size="6" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="39" name="Response Code" format="" type="s" size="2" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="41" name="Card Acceptor Terminal ID" format="" type="s" size="8" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="42" name="Card Acceptor ID Code" format="" type="s" size="15" value="" remarks="" sub="0">
        </Field>
        <Field id="43" name="Card Acceptor Terminal Name / Location" format="" type="s" size="40" value="" remarks="" sub="4">
        </Field>
        <Field id="43-1" name="Terminal owner" format="" type="s" size="22" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-2" name="Terminal city" format="" type="s" size="13" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-3" name="Terminal state" format="" type="n" size="3" value="" remarks="" sub="-1">
        </Field>
        <Field id="43-4" name="Terminal country" format="" type="n" size="2" value="" remarks="" sub="-1">
        </Field>
        <Field id="49" name="Transaction Currency Code" format="" type="n" size="3" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="50" name="Settlement Currency Code" format="" type="n" size="3" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="54" name="Additional Amounts" format="LLLVAR" type="n" size="12" value="" remarks="Mandatory" sub="0">
        </Field>
        <Field id="90" name="Original Data Elements" format="" type="s" size="42" value="" remarks="" sub="4">
        </Field>
        <Field id="90-1" name="Original MTID" format="" type="s" size="4" value="" remarks="" sub="-1">
        </Field>
        <Field id="90-2" name="Original STAN" format="" type="s" size="6" value="" remarks="" sub="-1">
        </Field>
        <Field id="90-3" name="Original Local Txn Date" format="" type="n" size="4" value="" remarks="" sub="-1">
        </Field>
        <Field id="90-4" name="Original Local Txn Time" format="" type="n" size="6" value="" remarks="" sub="-1">
        </Field>
        <Field id="90-5" name="Original Acquiring Institution ID" format="" type="n" size="11" value="" remarks="" sub="-1">
        </Field>
        <Field id="90-6" name="Original Forwarding Institution ID" format="" type="n" size="11" value="" remarks="" sub="-1">
        </Field>
        <Field id="95" name="Replacement Amounts" format="" type="s" size="42" value="" remarks="" sub="4">
        </Field>
        <Field id="95-1" name="Act Txn Amount" format="" type="s" size="12" value="" remarks="" sub="-1">
        </Field>
        <Field id="95-2" name="Act Settlement Amount" format="" type="s" size="12" value="" remarks="" sub="-1">
        </Field>
        <Field id="95-3" name="Actual Tr Fee Sign" format="" type="n" size="1" value="" remarks="" sub="-1">
        </Field>
        <Field id="95-4" name="Act Tr Fee Amount" format="" type="n" size="8" value="" remarks="" sub="-1">
        </Field>
        <Field id="95-5" name="Act Settlement Fee Sign" format="" type="n" size="1" value="" remarks="" sub="-1">
        </Field>
        <Field id="95-6" name="Act Settlement Fee Amount" format="" type="n" size="8" value="" remarks="" sub="-1">
        </Field>
        <Field id="102" name="Account Identification 1 (From)" format="LLVAR" type="s" size="28" value="" remarks="" sub="0">
        </Field>
    </Fields>
</CashConfig>